
<div class="container contact">

  <div class="row text-center">
    <h1>Let`s get in touch!</h1>
  </div>

  <div class="row">

    <div class="col-md-2">
      <div>&nbsp;</div>
    </div>

    <div class="col-md-2">
      <%= image_tag("pic1.png") %>
      <h4>visit us</h4>
      <p>Boomstraat 61, 1081 VN</p>
      <p id="city">Amsterdam, NL</p>
    </div>

    <div class="col-md-2">
      <%= image_tag("pic2.png") %>
      <h4>call us</h4>
      <p>+31202615197</p>
    </div>

    <div class="col-md-2">
      <%= image_tag("pic3.png") %>
      <h4>write us</h4>
      <p>info@treehugeers.com</p>
    </div>

      <div class="col-md-2">
        <%= image_tag("pic4.png") %>
        <h4>follow us</h4>
        <p>LinkedIn</p>
    </div>

    <div class="col-md-2">
      <div>&nbsp;</div>
    </div>

  </div>
</div>
