<section class="jumbotron">
   <div class="container">
     <div class="row text-center">
       <h2>Rent a treehouse</h2>
     </div>
   </div>
 </section>
 <section class="container">
     <div class="row">
       <% @treehouses.each do |treehouse| %>
          <div class="col-md-4 letmargin">
            <%= link_to image_tag(treehouse.image), treehouse_path(treehouse.id) %>
            <p><%= treehouse.title %></p>
          </div>
      <% end %>
    </div>
 </section>



<!-- <% @treehouses.each do |treehouse| %>
    <p><%= treehouse.title %></p>
    <%= image_tag(treehouse.image) %></p>
<% end %> -->
