<section class="jumbotron">
   <div class="container">
     <div class="row text-center">
       <h2>Tree Huggers</h2>
       <h3>Rent a tree house</h3>
     </div>
   </div>
 </section>

 <section class="container">
     <div class="row">
       <% @treehouses.each do |treehouse| %>
          <div class="col-xs-4 letmargin">
             <div class="hovereffect">
               <%= image_tag(treehouse.image) %>
                <div class="overlay">
                    <h3><strong><%= link_to treehouse.title, treehouse_path(treehouse.id) %></stong></h3>
                  </div>
             </div>
          </div>
      <% end %>
    </div>
 </section>

 <!-- <footer class = "footer">
 <footer> -->
