<footer>
  <div class="row text-center">
    <div class="footer-text">
      <h4><em>"The Earth has its music for those who listen."</em></h4>
      <p>&copy; TreeHuggers</p>
    </div>
  </div>
</footer>
